.Rproj.user
.Rhistory
.RData
.Ruserdata
report.svm.Rmd
report.rf.Rmd
report.pls.Rmd
report.glm.Rmd
report.cubist.Rmd
06.4.glm.html
report.cubist.Rmd
report.cubist.html
compiled folds.RDS

# Graphs
graphs/
fda/