.Rproj.user
.Rhistory
.RData
.Ruserdata

# HTML docs (usually summaries or previews) and data summaries
compiled folds.RDS
*.html

# Graphs and other data files that simply do not need to exist in GitHub
graphs/
graph.formatting.R
graph.functions.R
release/
qspr.process.html
qspr.process.nb.html

# Data files (possible copyright issues with uploading to GitHub)
data/
descriptors/
dwnld/
molecules/
fda/

# Other
zyzzyva/