.Rproj.user
.Rhistory
.RData
.Ruserdata

# HTML docs and data summaries
report.svm.Rmd
report.rf.Rmd
report.pls.Rmd
report.glm.Rmd
report.cubist.Rmd
06.4.glm.html
report.cubist.Rmd
report.cubist.html
compiled folds.RDS

# Graphs
graphs/
graph.formatting.R
graph.functions.R

fda/

# Other
dwnld/